.brand {

  &__profile-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-top: 160px;
    margin-left: 50px;
    width: 471px;
    transform: skewX(-20deg);
  }

  &__offers {
    margin-top: 85px;
  }

  &__search {
    width: 408px;
  }

  &__table-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 1fr 1fr 1fr;
  }
}
